{
  "printWidth": 100,
  "semi": false,
  "overrides": [
    {
      "files": "*.css",
      "options": {
        "tabWidth": 2,
        "useTabs": false
      }
    },
    {
      "files": "*.scss",
      "options": {
        "tabWidth": 2,
        "useTabs": false
      }
    }
  ]
}
